* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  background-color: rgba(91, 192, 222, 0.1);
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.left-nav {
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* main-nav */
#main-nav {
  padding: 0 1rem;
  margin: 0 1rem;
  
}

#main-nav .row {
  justify-content: center;
  align-items: center;
  padding-top: 1rem; 
  

}

/* side-nav */
#left-nav {
  margin-left: 1rem;
  /* position: fixed;
  left: 0; */
}

#left-nav .col-sm ul {
  justify-content: center;
  padding: 0 1rem;
  border-right: 2px solid #333;
}

#left-nav ul li a i {
  margin-bottom: 2rem;
}

.media, .content-section {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}